.headerSpFixed{
    position: fixed;
}
.headerSpGnav{
    @include marginPercent(375 , 5 , auto , 0 , auto);
}
.ulHeaderSpGnav{
    display: flex;
    justify-content: space-around;
    background: #FFF;
}
.liHeaderSpGnav{
    @include ontener_width(375 , 30);
}