.headerSpWap{
    @include paddingPercent(375 , 20 , 0 , 0 , 0);
    background: #FFF;
}
.logoHeaderSp{
    display: block;
    @include ontener_width(375 , 151);
    background: url(../img/iconlogoHeaderPc.svg) no-repeat left center;
    background-size: auto 68%;
    @include rsFontSize(24 , 24 , 24);
    @include paddingPercent(375 , 0 , 0 , 0 , 18);
    margin: 0 auto;
    font-weight: 800;
    line-height: 1.2;
    text-decoration: none;
    color: #111;
}
.headerSpTab{
    @include marginPercent(375 , 25 , auto , 0 , auto);
}
.ulheaderSpTab{
    @include ontener_width(375 , 355);
}
.liHeaderSpTab{
    width: 25%;
}
.btmHeaderSpTab{
    @include paddingPercent(375 , 0 , 0 , 10 , 0);
    display: block;
    @include rsFontSize(16 , 16 , 12);
    text-decoration: none;
    color: #111;
    border-bottom: 4px solid #FFF;
    font-weight: 600;
    &.active{
        border-bottom: 4px solid #3EA8FF;
    }
}
