.headerSearch {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #FFF;
    padding: 20px 0;
    @include media($sp) {
        height: 84vh;
        overflow: scroll;
    }
}
.headerSearchWap {
    
}
.btmClosedSearch {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    @include kadomaru(5px);
    background: #3EA8FF;
    color: #FFF;
    text-decoration: none;
}
.headerSearchLxc {
    @include ontener_width(1200 , 1160 );
    margin: 40px auto 0 auto;
    @include media($sp) {
        margin: 12vw auto 0 auto;
    }
}
.headerinputSearch {
    
}
.headerinputSearchLxc {
    position: relative;
}
.inputSearch {
    @include kadomaru(5px);
    background: #EDF2F7;
    width: 100%;
    height: 60px;
    padding: 15px 10px;
    border: none;
    @include media($sp) {
        height: 12vw;
    }
}
.btmSearchFree {
    widows: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 0; bottom: 0;
    margin: auto;
    @include media($sp) {
        width: 6.666666666666667vw;
        height: 6.666666666666667vw;
    }
}

.secHeaderSearchCats {
    @include ontener_width(1200 , 1160 );
    margin: 40px auto 0 auto;
    @include media($sp) {
        margin: 12vw auto 0 auto;
    }
}
.h2SecHeaderSearchCats {
    font-size: 20px;
    font-weight: 800;
    @include media($sp) {
        @include fontVwSp(375 , 18 );
    }
}
.secHeaderSearchCatsFx {
    margin: 20px auto 0 auto;
    justify-content: space-between;
    @include media($sp) {
        margin: 5.333333333333333vw auto 0 auto;
    }
}
.liHeaderSearchCatsFx {
    @include ontener_width(1160 , 180);
    aspect-ratio: 180 / 160;    
    margin: 20px 0 0 0;    
    @include media($max800) {
        @include ontener_width(572 , 180 );
    }
    @include media($sp) {
        margin: 3.333333333333333vw 0 0 0;
    }
}

.btmHeaderSearchCatsFx {
    border: 1px solid #93A5B1;
    @include kadomaru(10px);
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #111;
    background: #FFF;
    transition-duration: 0.5s;
    @include paddingPercent(180 , 30 , 0 , 38 , 0 );
}
.btmHeaderSearchCatsFx {
    &:hover {
        opacity: 0.6;
    }
}
.btmHeaderSearchCatsFx .iconTitle {
    @include ontener_width(180 , 60 );
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}
.h2sidebarSubCatstitle {
    @include marginPercent(180 , 10 , 0 , 0 , 0 );
    @include rsFontSize(16 , 16 , 12 );
}