.liTopicsLoop {
    @include paddingPercent(630 , 10 , 0 , 10 , 0);
    border-bottom: 1px solid #93A5B1;
    @include rsFontSize(14 , 14 , 14 );
    @include lineheight(14 , 19 );
    @include media($sp) {
        @include paddingPercent(355 , 10 , 0 , 10 , 0);
    }
    &:last-child {
        border-bottom:none;
    }
}
.btmTopicsLoop {
    justify-content: flex-start;
    text-decoration: none;
    color: #111;
    transition-duration: 0.5s;
    &:hover {
        opacity: 0.6;
    }
}
.h3TopicsLoop {
    margin: 0 0 0 15px;
}