@charset "utf-8";
@import 'sass_base/mixin';
@import 'sass_base/base';

@import 'sass_base/coding_guideline';
.wapper {
    @include wapper_setting();    
}
//基本設定
ul,li,dd,dt,dh {
    list-style: none;
}
svg {
    display: block;
}

.pc_only {
    @include pc_only();
}
.sp_only {
    @include sp_only();
}

.t_center {
    text-align: center;
}

@for $i from 0 through 8 {
    .pc_order_#{$i} {
        order: $i;
        @include media($sp) {
            order: unset;
        }
    }
    .fw_#{$i*100} {
        font-wieght:$i*100;
    }
}
.text_justify {
    text-align: justify;
    text-justify: inter-ideograph;    
}
.bg_F1F5F9 {
    background: #F1F5F9;
}
.bg_fff {
    background: #FFF;
}
.cl_323232 {
    color: #323232;
}
.bg_D9D9D9 {
    background: #D9D9D9;
}
.cl_93A5B1 {
    color: #93A5B1;
}
.header {
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.fixedBackBtm {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    background: rgba(255 , 255 , 255 , 0.2);
}
//トップページ部分
@import 'main_include/header/_header_pc';
@import 'main_include/header/_header_sp';
@import 'main_include/header/_headerFixedSp';
@import 'main_include/header/_headerSearch';
//トップページ部分
@import 'main_include/index/_index';
//サイドバー
@import 'main_include/sidebar/_sidebarKnowledge';
@import 'main_include/sidebar/_sidebarSeminar';
//カテゴリー設定
@import 'main_include/category/_knowledgeMain';
@import 'main_include/category/_seminarMain';
@import 'main_include/category/_topicsMain';
//ループ部分
@import 'main_include/parts/_loop';
@import 'main_include/parts/_tipicsloop';

//詳細部分
@import 'main_include/single/main/_cntMain';
@import 'main_include/single/main/_mainTitle';
@import 'main_include/single/main/_mainSingleTopics';
@import 'main_include/single/main/_relatedInformation';
@import 'main_include/single/main/_rightBar';

@import 'main_include/single/_singleKnowledge';
@import 'main_include/single/_singleSeminar';
@import 'main_include/single/_singleTopics';

//フッター部分
@import 'main_include/footer/_footer';
@import 'lightbox.min';

